/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(photos/cosmos_planets_4k-3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.disclaimer {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.error {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.btc-prices {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 7px 3px 13px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 25px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;
  max-width: 1300px;
}

.coin {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.coin img {
  margin-right: 10px;
  max-width: 30px;
}

.track {
  font-size: 55px;
  text-align: center;
  margin: 20px 0;
}

.navbar {
  background-image: url(photos/cosmos_planets_4k-3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 0;
}

.logo {
  font-size: 25px;
  margin-left: 20px;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover {
  color: #f0f0f0;
}

.seemore {
  text-align: center;
  background-color: rgba(0, 106, 255, 0.7);
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.seemore:active {
  background-color: rgba(0, 0, 255, 1);
}
